[submodule "SDL"]
	path = SDL
	url = https://github.com/SDL-mirror/SDL
[submodule "SDL_net"]
	path = SDL_net
	url = https://github.com/SDL-mirror/SDL_net
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
